<!doctype html>
<html>
    <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="books.css">
    </head>
    
    <header>
     <h1>Books</h1>
    </header>
    
    <table>
     <tr>
      <th>Title</th>
      <th>Body</th>
     </tr>
    </table>
    
    <div class="tbody">
        <nav>
          <tb>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</tb>
          <tb>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</tb>
          <tb>
              <a class="show">show</a>
          </tb>
          <tb>
              <a class="edit">Edit</a>
          </tb>
          <tb>
              <a class="destroy">Destroy</a>
          </tb>
        </nav>
     
        <nav>
         <tb>title2</tb>
         <tb>body2</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
     
        <nav>
         <tb>title3</tb>
         <tb>body3</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
     
        <nav>
         <tb>title4</tb>
         <tb>body4</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
     
        <nav>
         <tb>title5</tb>
         <tb>body5</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
     
        <nav>
         <tb>title6</tb>
         <tb>body6</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
     
        <nav>
         <tb>title7</tb>
         <tb>body7</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
     
        <nav>
         <tb>title8</tb>
         <tb>body8</tb>
         <tb>Show</tb>
         <tb>Edit</tb>
         <tb>Destroy</tb>
        </nav>
    </div>
</html>

